# Archivos temporales
__pycache__/
*.pyc
.DS_Store
.vscode/
.idea/

# Excluir datos pesados de Git
!datalake/.gitkeep
!datamarts/.gitkeep
sample_data/*

# Bases de datos locales
*.db
*.sqlite

# Compilados de Java
bin/
*.class

# Compilados de C
*.exe
*.o

# Binarios y compilados
bin/
*.exe
*.o

# Entornos virtuales de Python
.venv/
venv/
env/