# Archivos temporales
__pycache__/
*.pyc
.DS_Store
.vscode/
.idea/

# Excluir datos pesados de Git
datalake/*
!datalake/.gitkeep
datamarts/*
!datamarts/.gitkeep

# Bases de datos locales
*.db
*.sqlite

# Compilados de Java
bin/
*.class

# Compilados de C
*.exe
*.o

# Binarios y compilados
bin/
*.exe
*.o
